    body, html {
    height: 100%;
    margin: 0;
    width: 100%;

}

.img1, .img2, .img3{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.img1 {
    background-image: url('../Images/parte1.png');
    height: 500px !important;
    padding: 45% 0 0;
    opacity: 0.80;
}

.img2{
    background-image: url("../../Images/harry_potter_desk_wallpaper_and_gmail_theme_by_bamberos-d5stmxz.jpg");
    min-height: 400px; 
}

.img3{
    background-image: url("../../Images/personajes.jpg");
    min-height: 400px;
    opacity: 0.80;
}
