@using PinkFlamingoStudios
@{
    ViewBag.Title = "AboutUs";
}

<style>
    h2 {
        color: #ff80bf;
    }

    p{
        text-align: justify;
        font-family: Verdana;
        font-size: 16px;
    }

    a{
        font-size: 16px;
        font-family: Verdana;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Who are we?</h2>
        </div>
    </div>
    <div class="row">
        <p>
            Pink Flamingo Games is a company formed by the two students, of Computer Science, Ruth Celiceo and Karen Dueñas. Together they plan to launch their
            first game, it doesn't has a name yet, but the code name is <i>Save Them</i>. With original characters and story, they want to teach that mental and 
            phsycal illness have the same impact on the human body.
        </p>
    </div>
    <br />

    <div class="row" style="background-color:#ffe6f2">
        <div class="col-lg-3">
            <img height="200" width="200" src="~/Images/ruth.jpg"  /> 
        </div>
        <div class="col-lg-9">
            <h3>Ruth Celiceo</h3>
            <h4>Co-founder</h4><br />
            <p>
                Ruth is the lead programmer and animator for the studio. She has played video games since she was 4 years old. Her favorite consoles are the
                Nintendo 64, Gamecube and Playstation 4. She wants to be a successful woman in the video game community and industry. You can write to her
                Twitter: <a href="https://twitter.com/ruthceliceo">@@ruthceliceo </a>
            </p>
        </div>
    </div>
    <br />
    <div class="row" style="background-color:#f2e6ff">
        <div class="col-lg-9">
            <h3 style="text-align: right">Karen Dueñas</h3>
            <h4 style="text-align: right">Co-founder</h4><br />
            <p>
                Karen is the lead designer and concept creator for the studio. She used to play a lot of videogames but not so much these days. She likes
                to play video games like The Walking Dead series, also she's a big fan of TV Series. One of her favorite ones is, in fact, The Walking Dead.
            </p>
        </div>
        <div class="col-lg-3">
            <img height="180" width="200" src="~/Images/karen.jpg" />
        </div>
    </div>
</div>


