@{
    ViewBag.Title = "Pink Flamingo Games";
}

<link rel="stylesheet" href="~/CSS/Parallax.css" />
<style>
    p{
        text-align: center;
        font-size: 20px;
    }
</style>

<div class="img1"></div>

<div class="row" style="background-color:#ffe6f2; height:100px" >
    <h3 style="text-align:center"><b>New indie game studio</b></h3>
    <p>This is the site for Pink Flamingo Games, a new studio created by two students from Tijuana, Mexico</p>
</div>

<div class="img3"></div>
<div class="row" style="background-color:#ffe6f2; height:100px">
    <h3 style="text-align:center"><b>Coming soon</b></h3>
    <p>Expect the wonderlful adventures of Triay against the Malatia gang</p>
</div>
<div class="img1"></div>




